<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <style id="applicationStylesheet" type="text/css">
        .mediaViewInfo {
            --web-view-name: 首頁;
            --web-view-id:;
            --web-enable-deep-linking: true;
        }

        :root {
            --web-view-ids:;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            border: none;
        }

        # {
            position: absolute;
            width: 1366px;
            height: 2643px;
            background-color: rgba(255, 255, 255, 1);
            overflow: hidden;
            --web-view-name: 首頁;
            --web-view-id:;
            --web-enable-deep-linking: true;
        }

        #Rectangle_46 {
            fill: rgba(242, 242, 242, 1);
        }

        .Rectangle_46 {
            position: absolute;
            overflow: visible;
            width: 1366px;
            height: 371px;
            left: 0px;
            top: 400px;
        }

        #Rectangle_43 {
            opacity: 0.38;
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_43 {
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 1384px;
            height: 118px;
            left: 0px;
            top: 0px;
        }

        #Fintech {
            left: 141px;
            top: 27px;
            position: absolute;
            overflow: visible;
            width: 150px;
            white-space: nowrap;
            text-align: left;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 42px;
            color: rgba(17, 198, 198, 1);
        }

        #Rectangle_44 {
            fill: rgba(17, 198, 198, 1);
        }

        .Rectangle_44 {
            position: absolute;
            overflow: visible;
            width: 1376px;
            height: 300px;
            left: 0px;
            top: 100px;
        }

        #_ {
            left: 498.5px;
            top: 150px;
            position: absolute;
            overflow: visible;
            width: 370px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 60px;
            color: rgba(255, 255, 255, 1);
            letter-spacing: 0.3px;
        }

        #Rectangle_45 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_45 {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 1102px;
            height: 218px;
            left: 141px;
            top: 306px;
        }

        #Group_1 {
            position: absolute;
            width: 224px;
            height: 102px;
            left: 571px;
            top: 351px;
            overflow: visible;
        }

        #check-mark {
            fill: rgba(17, 198, 198, 1);
        }

        .check-mark {
            overflow: visible;
            position: absolute;
            width: 50px;
            height: 50px;
            left: 87px;
            top: 0px;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }

        #_bb {
            left: 0px;
            top: 65px;
            position: absolute;
            overflow: visible;
            width: 225px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(51, 61, 61, 1);
        }

        #Group_3 {
            position: absolute;
            width: 232px;
            height: 102px;
            left: 239px;
            top: 351px;
            overflow: visible;
        }

        #check-mark_bd {
            fill: rgba(17, 198, 198, 1);
        }

        .check-mark_bd {
            overflow: visible;
            position: absolute;
            width: 50px;
            height: 50px;
            left: 91px;
            top: 0px;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }

        #__be {
            left: 0px;
            top: 65px;
            position: absolute;
            overflow: visible;
            width: 233px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(51, 61, 61, 1);
        }

        #Group_2 {
            position: absolute;
            width: 168px;
            height: 102px;
            left: 895px;
            top: 351px;
            overflow: visible;
        }

        #check-mark_bi {
            fill: rgba(17, 198, 198, 1);
        }

        .check-mark_bi {
            overflow: visible;
            position: absolute;
            width: 50px;
            height: 50px;
            left: 59px;
            top: 0px;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }

        #_bh {
            left: 0px;
            top: 65px;
            position: absolute;
            overflow: visible;
            width: 169px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(51, 61, 61, 1);
        }

        #check-mark_bi {
            fill: rgba(17, 198, 198, 1);
        }

        .check-mark_bi {
            overflow: visible;
            position: absolute;
            width: 50px;
            height: 50px;
            left: 59px;
            top: 0px;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }

        #_bj {
            left: 557px;
            top: 561px;
            position: absolute;
            overflow: visible;
            width: 253px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(51, 61, 61, 1);
        }

        #__ {
            left: 475px;
            top: 826px;
            position: absolute;
            overflow: visible;
            width: 417px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(51, 61, 61, 1);
        }

        #___bl {
            left: 475px;
            top: 1430px;
            position: absolute;
            overflow: visible;
            width: 417px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(51, 61, 61, 1);
        }

        #Group_5 {
            position: absolute;
            width: 300px;
            height: 75px;
            left: 693px;
            top: 648px;
            overflow: visible;
        }

        #Rectangle_47 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_47 {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 318px;
            height: 93px;
            left: 0px;
            top: 0px;
        }

        #_bo {
            left: 66px;
            top: 19px;
            position: absolute;
            overflow: visible;
            width: 169px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(51, 61, 61, 1);
        }

        #Group_4 {
            position: absolute;
            width: 300px;
            height: 75px;
            left: 373px;
            top: 648px;
            overflow: visible;
        }

        #Rectangle_48 {
            fill: rgba(255, 255, 255, 1);
        }

        .Rectangle_48 {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 318px;
            height: 93px;
            left: 0px;
            top: 0px;
        }

        #_br {
            left: 66px;
            top: 19px;
            position: absolute;
            overflow: visible;
            width: 169px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(51, 61, 61, 1);
        }

        #Rectangle_51 {
            fill: rgba(242, 242, 242, 1);
        }

        .Rectangle_51 {
            position: absolute;
            overflow: visible;
            width: 267px;
            height: 446px;
            left: 59px;
            top: 920px;
        }

        #ID1 {
            left: 165px;
            top: 996px;
            position: absolute;
            overflow: visible;
            width: 57px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 100px;
            color: rgba(17, 198, 198, 1);
        }

        #_bu {
            left: 121px;
            top: 1203px;
            position: absolute;
            overflow: visible;
            width: 145px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(17, 198, 198, 1);
        }

        #Rectangle_56 {
            fill: rgba(242, 242, 242, 1);
        }

        .Rectangle_56 {
            position: absolute;
            overflow: visible;
            width: 509px;
            height: 429px;
            left: 857px;
            top: 1508px;
        }

        #Rectangle_57 {
            fill: rgba(51, 61, 61, 1);
        }

        .Rectangle_57 {
            position: absolute;
            overflow: visible;
            width: 1366px;
            height: 706px;
            left: 0px;
            top: 1937px;
        }

        #_Copyright_2020 {
            left: 537px;
            top: 2599px;
            position: absolute;
            overflow: visible;
            width: 293px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            color: rgba(255, 255, 255, 1);
        }

        #_by {
            left: 611px;
            top: 1992px;
            position: absolute;
            overflow: visible;
            width: 145px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(255, 255, 255, 1);
        }

        #Rectangle_58 {
            fill: rgba(255, 255, 255, 1);
            stroke: rgba(112, 112, 112, 1);
            stroke-width: 1px;
            stroke-linejoin: miter;
            stroke-linecap: butt;
            stroke-miterlimit: 4;
            shape-rendering: auto;
        }

        .Rectangle_58 {
            position: absolute;
            overflow: visible;
            width: 406px;
            height: 363px;
            left: 267px;
            top: 2095px;
            --web-animation: fadein 0.3s ease-out;
            --web-action-type: page;
            --web-action-target: 投標廠商註冊.html;
            cursor: pointer;
        }

        #Rectangle_59 {
            fill: rgba(255, 255, 255, 1);
            stroke: rgba(112, 112, 112, 1);
            stroke-width: 1px;
            stroke-linejoin: miter;
            stroke-linecap: butt;
            stroke-miterlimit: 4;
            shape-rendering: auto;
        }

        .Rectangle_59 {
            position: absolute;
            overflow: visible;
            width: 406px;
            height: 363px;
            left: 693px;
            top: 2095px;
        }

        #_b {
            left: 393px;
            top: 2205px;
            position: absolute;
            overflow: visible;
            width: 145px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(51, 61, 61, 1);
        }

        #_ca {
            left: 819px;
            top: 2205px;
            position: absolute;
            overflow: visible;
            width: 145px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(51, 61, 61, 1);
        }

        #_cb {
            left: 529px;
            top: 2478px;
            position: absolute;
            overflow: visible;
            width: 309px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(255, 255, 255, 1);
        }

        #Line_1 {
            fill: transparent;
            stroke: rgba(255, 255, 255, 1);
            stroke-width: 1px;
            stroke-linejoin: miter;
            stroke-linecap: butt;
            stroke-miterlimit: 4;
            shape-rendering: auto;
        }

        .Line_1 {
            overflow: visible;
            position: absolute;
            width: 1086px;
            height: 1px;
            left: 140.5px;
            top: 2570.5px;
            transform: matrix(1, 0, 0, 1, 0, 0);
        }

        #Group_7 {
            position: absolute;
            width: 300px;
            height: 75px;
            left: 741px;
            top: 2273px;
            overflow: visible;
            --web-animation: fadein 0.3s ease-out;
            --web-action-type: page;
            --web-action-target: 招標機關註冊.html;
            cursor: pointer;
        }

        #Rectangle_47_b {
            fill: rgba(17, 198, 198, 1);
        }

        .Rectangle_47_b {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 318px;
            height: 93px;
            left: 0px;
            top: 0px;
        }

        #_cc {
            left: 122px;
            top: 19px;
            position: absolute;
            overflow: visible;
            width: 57px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(255, 255, 255, 1);
        }

        #Group_6 {
            position: absolute;
            width: 300px;
            height: 75px;
            left: 315px;
            top: 2273px;
            overflow: visible;
        }

        #Rectangle_48_b {
            fill: rgba(17, 198, 198, 1);
        }

        .Rectangle_48_b {
            filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
            position: absolute;
            overflow: visible;
            width: 318px;
            height: 93px;
            left: 0px;
            top: 0px;
        }

        #_cd {
            left: 122px;
            top: 19px;
            position: absolute;
            overflow: visible;
            width: 57px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(255, 255, 255, 1);
        }

        #Rectangle_66 {
            fill: transparent;
            stroke: rgba(17, 198, 198, 1);
            stroke-width: 3px;
            stroke-linejoin: miter;
            stroke-linecap: butt;
            stroke-miterlimit: 4;
            shape-rendering: auto;
        }

        .Rectangle_66 {
            position: absolute;
            overflow: visible;
            width: 200px;
            height: 55px;
            left: 1080px;
            top: 23px;
            --web-animation: fadein 0.3s ease-out;
            --web-action-type: page;
            --web-action-target: 投標廠商註冊.html;
            cursor: pointer;
        }

        #_ce {
            left: 1152px;
            top: 32px;
            position: absolute;
            overflow: visible;
            width: 57px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(17, 198, 198, 1);
            letter-spacing: 0.3px;
        }

        #_cf {
            left: 990px;
            top: 32px;
            position: absolute;
            overflow: visible;
            width: 57px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            color: rgba(51, 61, 61, 1);
        }

        #Image_1 {
            position: absolute;
            width: 876px;
            height: 429px;
            left: -19px;
            top: 1508px;
            overflow: visible;
        }

        #Rectangle_55 {
            opacity: 0.4;
            fill: rgba(17, 198, 198, 1);
        }

        .Rectangle_55 {
            position: absolute;
            overflow: visible;
            width: 856px;
            height: 429px;
            left: 1px;
            top: 1508px;
        }

        #Rectangle_126 {
            fill: rgba(242, 242, 242, 1);
        }

        .Rectangle_126 {
            position: absolute;
            overflow: visible;
            width: 267px;
            height: 446px;
            left: 390px;
            top: 920px;
        }

        #Rectangle_127 {
            fill: rgba(242, 242, 242, 1);
        }

        .Rectangle_127 {
            position: absolute;
            overflow: visible;
            width: 267px;
            height: 446px;
            left: 724px;
            top: 920px;
        }

        #Rectangle_128 {
            fill: rgba(242, 242, 242, 1);
        }

        .Rectangle_128 {
            position: absolute;
            overflow: visible;
            width: 267px;
            height: 446px;
            left: 1058px;
            top: 920px;
        }

        #ID2 {
            left: 495px;
            top: 996px;
            position: absolute;
            overflow: visible;
            width: 57px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 100px;
            color: rgba(17, 198, 198, 1);
        }

        #ID3 {
            left: 830px;
            top: 996px;
            position: absolute;
            overflow: visible;
            width: 57px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 100px;
            color: rgba(17, 198, 198, 1);
        }

        #ID4 {
            left: 1156px;
            top: 996px;
            position: absolute;
            overflow: visible;
            width: 57px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 100px;
            color: rgba(17, 198, 198, 1);
        }

        #_cm {
            left: 451px;
            top: 1203px;
            position: absolute;
            overflow: visible;
            width: 145px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(17, 198, 198, 1);
        }

        #_cn {
            left: 786px;
            top: 1203px;
            position: absolute;
            overflow: visible;
            width: 145px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(17, 198, 198, 1);
        }

        #_co {
            left: 1112px;
            top: 1203px;
            position: absolute;
            overflow: visible;
            width: 145px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(17, 198, 198, 1);
        }

        #ID1_cp {
            left: 1018px;
            top: 1590px;
            position: absolute;
            overflow: visible;
            width: 29px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            color: rgba(17, 198, 198, 1);
        }

        #ID2_cq {
            left: 1018px;
            top: 1695px;
            position: absolute;
            overflow: visible;
            width: 29px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            color: rgba(17, 198, 198, 1);
        }

        #ID3_cr {
            left: 1018px;
            top: 1800px;
            position: absolute;
            overflow: visible;
            width: 29px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            color: rgba(17, 198, 198, 1);
        }

        #_cs {
            left: 1084px;
            top: 1590px;
            position: absolute;
            overflow: visible;
            width: 145px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(17, 198, 198, 1);
        }

        #_ct {
            left: 1084px;
            top: 1695px;
            position: absolute;
            overflow: visible;
            width: 145px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(17, 198, 198, 1);
        }

        #_cu {
            left: 1084px;
            top: 1800px;
            position: absolute;
            overflow: visible;
            width: 145px;
            white-space: nowrap;
            text-align: center;
            font-family: Arial;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            color: rgba(17, 198, 198, 1);
        }
    </style>
</head>

<body>
    <div id="">
        <svg class="Rectangle_46">
            <rect id="Rectangle_46" rx="0" ry="0" x="0" y="0" width="1366" height="371">
            </rect>
        </svg>
        <svg class="Rectangle_43">
            <rect id="Rectangle_43" rx="0" ry="0" x="0" y="0" width="1366" height="100">
            </rect>
        </svg>
        <div id="Fintech">
            <a asp-controller="Home" asp-action="Homepage" style="text-decoration:none;color:inherit"><span>Fintech</span></a>
        </div>
        <svg class="Rectangle_44">
            <rect id="Rectangle_44" rx="0" ry="0" x="0" y="0" width="1376" height="300">
            </rect>
        </svg>
        <div id="_">
            <span>數位標金平台</span>
        </div>
        <svg class="Rectangle_45">
            <rect id="Rectangle_45" rx="0" ry="0" x="0" y="0" width="1084" height="200">
            </rect>
        </svg>
        <div id="Group_1">
            <svg class="check-mark" viewBox="0 0 50 50">
                <path id="check-mark"
                      d="M 36.05117416381836 17.06782341003418 C 36.81411361694336 17.83076095581055 36.81411361694336 19.06748962402344 36.05117416381836 19.83004760742188 L 22.94843673706055 32.93317413330078 C 22.18549919128418 33.69573211669922 20.94915199279785 33.69573211669922 20.18621253967285 32.93317413330078 L 13.94879913330078 26.69537925720215 C 13.18585968017578 25.93282127380371 13.18585968017578 24.69609260559082 13.94879913330078 23.93353462219238 C 14.7113561630249 23.17059326171875 15.94808578491211 23.17059326171875 16.71064376831055 23.93353462219238 L 21.56713676452637 28.79002952575684 L 33.28891372680664 17.06786346435547 C 34.05185699462891 16.30530548095703 35.2885856628418 16.30530548095703 36.05113983154297 17.06786346435547 Z M 50 25.00048828125 C 50 38.81923675537109 38.81679916381836 50.00048828125 25 50.00048828125 C 11.18125057220459 50.00048828125 0 38.81728744506836 0 25.00048828125 C 0 11.18173789978027 11.18320369720459 0.00048828125 25 0.00048828125 C 38.81875228881836 0.00048828125 50 11.18369102478027 50 25.00048828125 Z M 46.09375 25.00048828125 C 46.09375 13.34081935882568 36.65810012817383 3.906737804412842 25 3.906737804412842 C 13.34033203125 3.906737804412842 3.90625 13.34239101409912 3.90625 25.00048828125 C 3.90625 36.66015625 13.34190368652344 46.09423828125 25 46.09423828125 C 36.65966796875 46.09423828125 46.09375 36.65858459472656 46.09375 25.00048828125 Z M 46.09375 25.00048828125">
                </path>
            </svg>
            <div id="_bb">
                <span>申辦迅速節省時間</span>
            </div>
        </div>
        <div id="Group_3">
            <svg class="check-mark_bd" viewBox="0 0 50 50">
                <path id="check-mark_bd"
                      d="M 36.05117416381836 17.06782341003418 C 36.81411361694336 17.83076095581055 36.81411361694336 19.06748962402344 36.05117416381836 19.83004760742188 L 22.94843673706055 32.93317413330078 C 22.18549919128418 33.69573211669922 20.94915199279785 33.69573211669922 20.18621253967285 32.93317413330078 L 13.94879913330078 26.69537925720215 C 13.18585968017578 25.93282127380371 13.18585968017578 24.69609260559082 13.94879913330078 23.93353462219238 C 14.7113561630249 23.17059326171875 15.94808578491211 23.17059326171875 16.71064376831055 23.93353462219238 L 21.56713676452637 28.79002952575684 L 33.28891372680664 17.06786346435547 C 34.05185699462891 16.30530548095703 35.2885856628418 16.30530548095703 36.05113983154297 17.06786346435547 Z M 50 25.00048828125 C 50 38.81923675537109 38.81679916381836 50.00048828125 25 50.00048828125 C 11.18125057220459 50.00048828125 0 38.81728744506836 0 25.00048828125 C 0 11.18173789978027 11.18320369720459 0.00048828125 25 0.00048828125 C 38.81875228881836 0.00048828125 50 11.18369102478027 50 25.00048828125 Z M 46.09375 25.00048828125 C 46.09375 13.34081935882568 36.65810012817383 3.906737804412842 25 3.906737804412842 C 13.34033203125 3.906737804412842 3.90625 13.34239101409912 3.90625 25.00048828125 C 3.90625 36.66015625 13.34190368652344 46.09423828125 25 46.09423828125 C 36.65966796875 46.09423828125 46.09375 36.65858459472656 46.09375 25.00048828125 Z M 46.09375 25.00048828125">
                </path>
            </svg>
            <div id="__be">
                <span>不用出門申辦方便 </span>
            </div>
        </div>
        <div id="Group_2">
            <svg class="check-mark_bi" viewBox="0 0 50 50">
                <path id="check-mark_bi"
                      d="M 36.05117416381836 17.06782341003418 C 36.81411361694336 17.83076095581055 36.81411361694336 19.06748962402344 36.05117416381836 19.83004760742188 L 22.94843673706055 32.93317413330078 C 22.18549919128418 33.69573211669922 20.94915199279785 33.69573211669922 20.18621253967285 32.93317413330078 L 13.94879913330078 26.69537925720215 C 13.18585968017578 25.93282127380371 13.18585968017578 24.69609260559082 13.94879913330078 23.93353462219238 C 14.7113561630249 23.17059326171875 15.94808578491211 23.17059326171875 16.71064376831055 23.93353462219238 L 21.56713676452637 28.79002952575684 L 33.28891372680664 17.06786346435547 C 34.05185699462891 16.30530548095703 35.2885856628418 16.30530548095703 36.05113983154297 17.06786346435547 Z M 50 25.00048828125 C 50 38.81923675537109 38.81679916381836 50.00048828125 25 50.00048828125 C 11.18125057220459 50.00048828125 0 38.81728744506836 0 25.00048828125 C 0 11.18173789978027 11.18320369720459 0.00048828125 25 0.00048828125 C 38.81875228881836 0.00048828125 50 11.18369102478027 50 25.00048828125 Z M 46.09375 25.00048828125 C 46.09375 13.34081935882568 36.65810012817383 3.906737804412842 25 3.906737804412842 C 13.34033203125 3.906737804412842 3.90625 13.34239101409912 3.90625 25.00048828125 C 3.90625 36.66015625 13.34190368652344 46.09423828125 25 46.09423828125 C 36.65966796875 46.09423828125 46.09375 36.65858459472656 46.09375 25.00048828125 Z M 46.09375 25.00048828125">
                </path>
            </svg>
            <div id="_bh">
                <span>資金運用靈活</span>
            </div>
            <svg class="check-mark_bi" viewBox="0 0 50 50">
                <path id="check-mark_bi"
                      d="M 36.05117416381836 17.06782341003418 C 36.81411361694336 17.83076095581055 36.81411361694336 19.06748962402344 36.05117416381836 19.83004760742188 L 22.94843673706055 32.93317413330078 C 22.18549919128418 33.69573211669922 20.94915199279785 33.69573211669922 20.18621253967285 32.93317413330078 L 13.94879913330078 26.69537925720215 C 13.18585968017578 25.93282127380371 13.18585968017578 24.69609260559082 13.94879913330078 23.93353462219238 C 14.7113561630249 23.17059326171875 15.94808578491211 23.17059326171875 16.71064376831055 23.93353462219238 L 21.56713676452637 28.79002952575684 L 33.28891372680664 17.06786346435547 C 34.05185699462891 16.30530548095703 35.2885856628418 16.30530548095703 36.05113983154297 17.06786346435547 Z M 50 25.00048828125 C 50 38.81923675537109 38.81679916381836 50.00048828125 25 50.00048828125 C 11.18125057220459 50.00048828125 0 38.81728744506836 0 25.00048828125 C 0 11.18173789978027 11.18320369720459 0.00048828125 25 0.00048828125 C 38.81875228881836 0.00048828125 50 11.18369102478027 50 25.00048828125 Z M 46.09375 25.00048828125 C 46.09375 13.34081935882568 36.65810012817383 3.906737804412842 25 3.906737804412842 C 13.34033203125 3.906737804412842 3.90625 13.34239101409912 3.90625 25.00048828125 C 3.90625 36.66015625 13.34190368652344 46.09423828125 25 46.09423828125 C 36.65966796875 46.09423828125 46.09375 36.65858459472656 46.09375 25.00048828125 Z M 46.09375 25.00048828125">
                </path>
            </svg>
        </div>
        <div id="_bj">
            <span>了解我們的服務</span>
        </div>
        <div id="__">
            <span>提供給 「投標廠商」 的服務</span>
        </div>
        <div id="___bl">
            <span>提供給 「招標機關」 的服務</span>
        </div>
        <div id="Group_5">
            <svg class="Rectangle_47">
                <rect id="Rectangle_47" rx="37.5" ry="37.5" x="0" y="0" width="300" height="75">
                </rect>
            </svg>
            <div id="_bo">
                <span>
                    <input type="button" style="font-size:28px;background-color:transparent;font-weight: bold;"
                           onclick="javascript:location.href='#___bl'" value="我是招標機關">
                </span>
            </div>
        </div>
        <div id="Group_4">
            <svg class="Rectangle_48">
                <rect id="Rectangle_48" rx="37.5" ry="37.5" x="0" y="0" width="300" height="75">
                </rect>
            </svg>
            <div id="_br">
                <span>
                    <input type="button" style="font-size:28px;background-color:transparent;font-weight: bold;"
                           onclick="javascript:location.href='#__'" value="我是投標廠商">
                </span>
            </div>
        </div>
        <svg class="Rectangle_51">
            <rect id="Rectangle_51" rx="0" ry="0" x="0" y="0" width="267" height="446">
            </rect>
        </svg>
        <div id="ID1">
            <span>1</span>
        </div>
        <div id="_bu">
            <span>帳戶申請</span>
        </div>
        <svg class="Rectangle_56">
            <rect id="Rectangle_56" rx="0" ry="0" x="0" y="0" width="509" height="429">
            </rect>
        </svg>
        <svg class="Rectangle_57">
            <rect id="Rectangle_57" rx="0" ry="0" x="0" y="0" width="1366" height="706">
            </rect>
        </svg>
        <div id="_Copyright_2020">
            <span>數位標金平台團隊 Copyright ©2020</span>
        </div>
        <div id="_by">
            <span>立即使用</span>
        </div>
        <svg class="Rectangle_58">
            <rect onclick="application.goToTargetView(event)" id="Rectangle_58" rx="0" ry="0" x="0" y="0" width="406"
                  height="363">
            </rect>
        </svg>
        <svg class="Rectangle_59">
            <rect id="Rectangle_59" rx="0" ry="0" x="0" y="0" width="406" height="363">
            </rect>
        </svg>
        <div id="_b">
            <span>投標廠商</span>
        </div>
        <div id="_ca">
            <span>招標機關</span>
        </div>
        <div id="_cb">
            <span>已經有帳號？</span><input type="button"
                                      style="font-size:28px;background-color:transparent;font-weight: bold;text-decoration:underline;color: white;"
                                      value="立即登入！" onclick="location.href='@Url.Action("投標廠商登入", "Home")'"/>
        </div>
        <svg class="Line_1" viewBox="0 0 1086 1">
            <path id="Line_1" d="M 0 0 L 1086 0">
            </path>
        </svg>
        <div onclick="application.goToTargetView(event)" id="Group_7">
            <svg class="Rectangle_47_b">
                <rect id="Rectangle_47_b" rx="37.5" ry="37.5" x="0" y="0" width="300" height="75">
                </rect>
            </svg>
            <div id="_cc">
                <span>
                    <input type="button"
                           style="font-size:36px;background-color:transparent;font-weight: bold;color: white;"
                           onclick="location.href='@Url.Action("投標廠商註冊", "Home", new { utype = "1"})'" value="註冊">
                </span>
            </div>
        </div>
        <div id="Group_6">
            <svg class="Rectangle_48_b">
                <rect id="Rectangle_48_b" rx="37.5" ry="37.5" x="0" y="0" width="300" height="75">
                </rect>
            </svg>
            <div id="_cd">
                <span>
                    <input type="button"
                           style="font-size:36px;background-color:transparent;font-weight: bold;color: white;"
                           onclick="location.href='@Url.Action("投標廠商註冊", "Home", new { utype = "0" })'" value="註冊">
                </span>
            </div>
        </div>
        <svg class="Rectangle_66">
            <rect onclick="application.goToTargetView(event)" id="Rectangle_66" rx="27.5" ry="27.5" x="0" y="0"
                  width="200" height="55">
            </rect>
        </svg>
        <div id="_ce">
            <span>
                <input type="button" style="font-size:28px;background-color:transparent;font-weight: bold;"
                       onclick="javascript:location.href='#_by'" value="註冊">
            </span>
        </div>
        <div id="_cf">
            <span>
                <input type="button" style="font-size:28px;background-color:transparent;font-weight: bold;"
                       onclick="location.href='@Url.Action("投標廠商登入", "Home")'" value="登入">
            </span>
        </div>
        <img id="Image_1" src="Image_1.png" srcset="Image_1.png 1x">

        <svg class="Rectangle_55">
            <rect id="Rectangle_55" rx="0" ry="0" x="0" y="0" width="856" height="429">
            </rect>
        </svg>
        <svg class="Rectangle_126">
            <rect id="Rectangle_126" rx="0" ry="0" x="0" y="0" width="267" height="446">
            </rect>
        </svg>
        <svg class="Rectangle_127">
            <rect id="Rectangle_127" rx="0" ry="0" x="0" y="0" width="267" height="446">
            </rect>
        </svg>
        <svg class="Rectangle_128">
            <rect id="Rectangle_128" rx="0" ry="0" x="0" y="0" width="267" height="446">
            </rect>
        </svg>
        <div id="ID2">
            <span>2</span>
        </div>
        <div id="ID3">
            <span>3</span>
        </div>
        <div id="ID4">
            <span>4</span>
        </div>
        <div id="_cm">
            <span>帳戶設定</span>
        </div>
        <div id="_cn">
            <span>憑證設定</span>
        </div>
        <div id="_co">
            <span>專案管理</span>
        </div>
        <div id="ID1_cp">
            <span>1</span>
        </div>
        <div id="ID2_cq">
            <span>2</span>
        </div>
        <div id="ID3_cr">
            <span>3</span>
        </div>
        <div id="_cs">
            <span>專案設定</span>
        </div>
        <div id="_ct">
            <span>專案清單</span>
        </div>
        <div id="_cu">
            <span>專案管理</span>
        </div>
    </div>
</body>

</html>