<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>帳戶驗證</title>
    <style id="applicationStylesheet" type="text/css">
		.mediaViewInfo {
			--web-view-name: 帳戶驗證;
			--web-view-id: ;
			--web-application: true;
			--web-enable-deep-linking: true;
		}

		:root {
			--web-view-ids: ;
		}

		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			border: none;
		}

		# {
			position: absolute;
			width: 1366px;
			height: 1117px;
			background-color: rgba(255, 255, 255, 1);
			overflow: hidden;
			--web-view-name: 帳戶驗證;
			--web-view-id: ;
			--web-application: true;
			--web-enable-deep-linking: true;
		}

		#Fintech {
			left: 141px;
			top: 27px;
			position: absolute;
			overflow: visible;
			width: 150px;
			white-space: nowrap;
			text-align: left;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 42px;
			color: rgba(17, 198, 198, 1);
		}

		#Rectangle_44 {
			fill: rgba(17, 198, 198, 1);
		}

		.Rectangle_44 {
			position: absolute;
			overflow: visible;
			width: 1366px;
			height: 150px;
			left: 0px;
			top: 100px;
		}

		#Rectangle_60 {
			fill: rgba(255, 255, 255, 1);
		}

		.Rectangle_60 {
			filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
			position: absolute;
			overflow: visible;
			width: 858px;
			height: 822px;
			left: 416px;
			top: 164px;
		}

		#_ {
			left: 141px;
			top: 120px;
			position: absolute;
			overflow: visible;
			width: 73px;
			white-space: nowrap;
			text-align: left;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			color: rgba(255, 255, 255, 1);
		}



		#Rectangle_57 {
			fill: rgba(51, 61, 61, 1);
		}

		.Rectangle_57 {
			position: absolute;
			overflow: visible;
			width: 1366px;
			height: 128px;
			left: 0px;
			top: 989px;
		}

		#_Copyright_2020 {
			left: 537px;
			top: 1073px;
			position: absolute;
			overflow: visible;
			width: 293px;
			white-space: nowrap;
			text-align: center;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			color: rgba(255, 255, 255, 1);
		}

		#Line_1 {
			fill: transparent;
			stroke: rgba(255, 255, 255, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Line_1 {
			overflow: visible;
			position: absolute;
			width: 1086px;
			height: 1px;
			left: 140.5px;
			top: 1044.5px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#___ {
			left: 1076px;
			top: 32px;
			position: absolute;
			overflow: visible;
			width: 214px;
			height: 37px;
			text-align: left;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 28px;
			color: rgba(112, 112, 112, 1);
			letter-spacing: 0.3px;
		}

		#Scroll_Group_1 {
			mix-blend-mode: normal;
			position: absolute;
			width: 24px;
			height: 31px;
			left: 1026px;
			top: 639px;
			overflow: hidden;
		}

		#__bd {
			left: -27px;
			top: 0px;
			position: absolute;
			overflow: visible;
			width: 55px;
			white-space: nowrap;
			text-align: left;
			font-family: Wingdings 2;
			font-style: normal;
			font-weight: normal;
			font-size: 30px;
			color: rgba(17, 198, 198, 1);
			letter-spacing: 0.3px;
		}

		#_be {
			left: 659px;
			top: 207px;
			position: absolute;
			overflow: visible;
			width: 38px;
			white-space: nowrap;
			text-align: left;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			color: rgba(23, 3, 3, 1);
			letter-spacing: 0.3px;
		}

		#_bf {
			left: 550px;
			top: 299px;
			position: absolute;
			overflow: visible;
			width: 38px;
			white-space: nowrap;
			text-align: left;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			color: rgba(23, 3, 3, 1);
			letter-spacing: 0.3px;
		}

		#_bg {
			left: 550px;
			top: 470px;
			position: absolute;
			overflow: visible;
			width: 38px;
			white-space: nowrap;
			text-align: left;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			color: rgba(23, 3, 3, 1);
			letter-spacing: 0.3px;
		}

		#_bh {
			left: 550px;
			top: 650px;
			position: absolute;
			overflow: visible;
			width: 38px;
			white-space: nowrap;
			text-align: left;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			color: rgba(23, 3, 3, 1);
			letter-spacing: 0.3px;
		}

		#Rectangle_98 {
			fill: rgba(255, 255, 255, 1);
		}

		.Rectangle_98 {
			mix-blend-mode: multiply;
			filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
			position: absolute;
			overflow: visible;
			width: 338px;
			height: 93px;
			left: 517px;
			top: 271px;
			--web-animation: fadein 0.3s ease-out;
			--web-action-type: view;
			--web-action-target: ;
			cursor: pointer;
		}

		#Rectangle_103 {
			fill: rgba(255, 255, 255, 1);
		}

		.Rectangle_103 {
			mix-blend-mode: multiply;
			filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
			position: absolute;
			overflow: visible;
			width: 338px;
			height: 93px;
			left: 517px;
			top: 444px;
			--web-animation: fadein 0.3s ease-out;
			--web-action-type: view;
			--web-action-target: ;
			cursor: pointer;
		}

		#Rectangle_104 {
			fill: rgba(255, 255, 255, 1);
		}

		.Rectangle_104 {
			mix-blend-mode: multiply;
			filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
			position: absolute;
			overflow: visible;
			width: 356px;
			height: 93px;
			left: 517px;
			top: 617px;
			--web-animation: fadein 0.3s ease-out;
			--web-action-type: view;
			--web-action-target: ;
			cursor: pointer;
		}

		#_bi {
			left: 998px;
			top: 207px;
			position: absolute;
			overflow: visible;
			width: 56px;
			white-space: nowrap;
			text-align: left;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			color: rgba(23, 3, 3, 1);
			letter-spacing: 0.3px;
		}

		#Scroll_Group_3 {
			mix-blend-mode: normal;
			position: absolute;
			width: 24px;
			height: 31px;
			left: 1029px;
			top: 473px;
			overflow: hidden;
		}

		#__bk {
			left: -27px;
			top: 0px;
			position: absolute;
			overflow: visible;
			width: 55px;
			white-space: nowrap;
			text-align: left;
			font-family: Wingdings 2;
			font-style: normal;
			font-weight: normal;
			font-size: 30px;
			color: rgba(17, 198, 198, 1);
			letter-spacing: 0.3px;
		}

		#Rectangle_45 {
			fill: rgba(255, 255, 255, 1);
		}

		.Rectangle_45 {
			filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.161));
			position: absolute;
			overflow: visible;
			width: 213px;
			height: 316px;
			left: 110px;
			top: 158px;
		}

		#Rectangle_62 {
			fill: rgba(17, 198, 198, 1);
		}

		.Rectangle_62 {
			position: absolute;
			overflow: visible;
			width: 5px;
			height: 55px;
			left: 141px;
			top: 223px;
		}

		#_bn {
			left: 177px;
			top: 235px;
			position: absolute;
			overflow: visible;
			width: 73px;
			white-space: nowrap;
			text-align: left;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			color: rgba(17, 198, 198, 1);
		}

		#_bo {
			left: 175px;
			top: 290px;
			position: absolute;
			overflow: visible;
			width: 73px;
			white-space: nowrap;
			text-align: left;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			color: rgba(23, 3, 3, 1);
		}

		#_bp {
			left: 175px;
			top: 345px;
			position: absolute;
			overflow: visible;
			width: 73px;
			white-space: nowrap;
			text-align: left;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			color: rgba(23, 3, 3, 1);
		}

		#_bq {
			left: 175px;
			top: 400px;
			position: absolute;
			overflow: visible;
			width: 73px;
			white-space: nowrap;
			text-align: left;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			color: rgba(23, 3, 3, 1);
		}

		#Rectangle_65 {
			fill: rgba(17, 198, 198, 1);
		}

		.Rectangle_65 {
			filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
			position: absolute;
			overflow: visible;
			width: 418px;
			height: 93px;
			left: 683px;
			top: 805px;
			--web-animation: fadein 0.3s ease-out;
			--web-action-type: view;
			--web-action-target: ;
			cursor: pointer;
		}

		#_bs {
			left: 848px;
			top: 819px;
			position: absolute;
			overflow: visible;
			width: 75px;
			white-space: nowrap;
			text-align: center;
			font-family: Arial;
			font-style: normal;
			font-weight: bold;
			font-size: 36px;
			color: rgba(23, 3, 3, 1);
			letter-spacing: 0.3px;
		}

		#Scroll_Group_4 {
			mix-blend-mode: normal;
			position: absolute;
			width: 24px;
			height: 31px;
			left: 1029px;
			top: 307px;
			overflow: hidden;
		}

		#__bu {
			left: -27px;
			top: 0px;
			position: absolute;
			overflow: visible;
			width: 55px;
			white-space: nowrap;
			text-align: left;
			font-family: Wingdings 2;
			font-style: normal;
			font-weight: normal;
			font-size: 30px;
			color: rgba(17, 198, 198, 1);
			letter-spacing: 0.3px;
		}
    </style>
</head>

<body>
    <div id="">
        <div id="Fintech">
            <span>Fintech</span>
        </div>
        <svg class="Rectangle_44">
            <rect id="Rectangle_44" rx="0" ry="0" x="0" y="0" width="1366" height="150">
            </rect>
        </svg>
        <svg class="Rectangle_60">
            <rect id="Rectangle_60" rx="0" ry="0" x="0" y="0" width="840" height="804">
            </rect>
        </svg>
        <div id="_">
            <span>
                <input type="button"
                       style="font-size:18px;background-color:transparent;font-weight: bold;color: white;"
                       onclick="javascript:location.href='首頁.html'" value="首頁"> / <input type="button"
                                                                                         style="font-size:18px;background-color:transparent;font-weight: bold;color: white;"
                                                                                         onclick="javascript:location.href='投標廠商功能.html'" value="投標廠商功能"> / 帳戶申請(步驟2之2)
            </span>
        </div>

        <svg class="Rectangle_57">
            <rect id="Rectangle_57" rx="0" ry="0" x="0" y="0" width="1366" height="128">
            </rect>
        </svg>
        <div id="_Copyright_2020">
            <span>數位標金平台團隊 Copyright ©2020</span>
        </div>
        <svg class="Line_1" viewBox="0 0 1086 1">
            <path id="Line_1" d="M 0 0 L 1086 0">
            </path>
        </svg>
        <div id="___">
            <span>
                帳號名稱 | <input type="button" style="font-size:28px;background-color:transparent;font-weight: bold;"
                              onclick="javascript:location.href='投標廠商登入.html'" value="登出">
            </span>
        </div>
        <div id="Scroll_Group_1">
            <div id="__bd">
                <span> </span>
            </div>
        </div>
        <div id="_be">
            <span>帳號</span>
        </div>
        <svg class="Rectangle_98">
            <rect onclick="application.goToTargetView(event)" id="Rectangle_98" rx="20" ry="20" x="0" y="0" width="320"
                  height="75">
            </rect>
        </svg>
        <svg class="Rectangle_103">
            <rect onclick="application.goToTargetView(event)" id="Rectangle_103" rx="20" ry="20" x="0" y="0" width="320"
                  height="75">
            </rect>
        </svg>
        <svg class="Rectangle_104">
            <rect onclick="application.goToTargetView(event)" id="Rectangle_104" rx="20" ry="20" x="0" y="0" width="338"
                  height="75">
            </rect>
        </svg>
        <div id="_bi">
            <span>已驗證</span>
        </div>
        <div id="Scroll_Group_3">
            <div id="__bk">
                <span> </span>
            </div>
        </div>
        <svg class="Rectangle_45">
            <rect id="Rectangle_45" rx="0" ry="0" x="0" y="0" width="195" height="298">
            </rect>
        </svg>
        <svg class="Rectangle_62">
            <rect id="Rectangle_62" rx="0" ry="0" x="0" y="0" width="5" height="55">
            </rect>
        </svg>
        <div id="_bn">
            <span>帳戶申請</span>
        </div>
        <div id="_bo">
            <span>帳戶設定</span>
        </div>
        <div id="_bp">
            <span>憑證設定</span>
        </div>
        <div id="_bq">
            <span>專案管理</span>
        </div>
        <svg class="Rectangle_65">
            <rect onclick="application.goToTargetView(event)" id="Rectangle_65" rx="35" ry="35" x="0" y="0" width="400"
                  height="75">
            </rect>
        </svg>
        <div id="_bs">
            <span>
                <input type="button" style="font-size:36px;background-color:transparent;font-weight: bold;"
                       onclick="javascript:location.href='投標廠商功能.html'" value="確認">
            </span>
        </div>
        <div id="Scroll_Group_4">
            <div id="__bu">
                <span> </span>
            </div>
        </div>
        <div id="_bf">
            <span><input type="text" style="font-size: 18px;z-index:9999;position: relative;" name="帳號1"></span>
        </div>
        <div id="_bg">
            <span><input type="text" style="font-size: 18px;z-index:9999;position: relative;" name="帳號2"></span>
        </div>
        <div id="_bh">
            <span><input type="text" style="font-size: 18px;z-index:9999;position: relative;" name="帳號3"></span>
        </div>
    </div>
</body>

</html>
